.profile-wrapper{
    padding: 10px 0 0 25px;
}

.profile-img{
    width: 100%;
    max-width: 200px;
    height: 200px;
    object-fit: cover;
    float: left;
    margin-right: 25px;
    border: 3px solid white;
}

.main-container .profile-name, .main-container .profile-title, .main-container .profile-country, .main-container .profile-mail, .main-container .profile-phone{
    display: block;
}

.profile-title{
    font-style: italic;
    color: var(--text_color);
    font-weight: 500;
    margin: -20px 0 20px 0;
    font-size: 15px;   
}

.profile-wrapper ion-icon{
    color: var(--hover_color);
    font-size: 20px;
    vertical-align: middle;
}

.profile-wrapper span{
    padding: 5px 0;
    color: var(--text_color);
}

.profile-wrapper a{
    text-decoration: none;
    color: var(--hover_color);
    transition: var(--transition_time);
}

.profile-wrapper a:hover{
    color: #00628b;
}

.profile-edit{
    float: right;
    margin: -177px 25px 0 0;
    background-color: var(--hover_color);
    color: var(--bg_white);
    border: 1px solid var(--hover_color);
    font-size: 16px;
    border-radius: 3px;
    transition: var(--transition_time);
    cursor: pointer;
    padding: 5px 10px;
}

.profile-edit:hover{
    background-color: #08b2fb;
    border-color: #08b2fb;
    box-shadow: var(--shadow);
}

.profile-edit ion-icon{
    color: var(--bg_white);
    vertical-align: bottom;
    font-size: 22px;
}

.tabs-container{
    padding: 10px 25px 30px 25px;
    background-color: var(--bg_white);
    margin-top: 50px;
}

.tablinks{
    color: #08b2fb;
    transition: var(--transition_time);
}

.tablinks:hover{
    color: var(--hover_color);
    border-radius: 3px;
}

.tab-bg:hover{
    color: var(--bg_white);
}

.tablinks{
    background-color: transparent;
    border: none;
    font-size: 16px;
    cursor: pointer;
}

#tab2, #tab3, #tab4, #tab5, #tab6, #tab7, #tab8{
    display: none;
}

.profile-tabs{
    border-bottom: 1px solid #6b6f7642;
    padding-bottom: 10px;
}

.tab-bg{
    background-color: var(--hover_color);
    color: var(--bg_white);
    border-radius: 3px;
}

.tabs-container h2{
    color: var(--text_color);
    font-weight: 500;
    text-transform: uppercase;
    font-size: 18px;
    border-bottom: 1px solid #6b6f7642;
    padding-bottom: 5px;
}

.tab-content{
    margin-top: 25px;
}

.tab-content h4{
    color: #8b8b8b;
    font-weight: 500;
    font-size: 14px;
    margin-bottom: 0;
}

.tab-content p{
    font-weight: 500;
    margin-top: 2px;
    color: #2c2f32;
}

.tab-content-wrapper{
    width: 45%;
    display: inline-table;   
    padding: 0 15px;  
}

.tab-content-wrapper textarea{
    width: 100%;
    resize: none;
    border-radius: 3px;
    border-color: #6b6f7642;
    padding: 10px;
    font-size: 15px;
    cursor: default;
}

.tab-content-wrapper textarea:focus-visible{
    outline: none;
}

.tab-content-wrapper a{
    text-decoration: none;
    color: var(--hover_color);
    transition: .3s;
}

.tab-content-wrapper a:hover{
    color: #00628b;
}


.tab-edit-button{
    position: absolute;
    right: 25px;
    background-color: var(--hover_color);
    color: var(--bg_white);
    border: 1px solid var(--hover_color);
    font-size: 16px;
    border-radius: 3px;
    transition: var(--transition_time);
    cursor: pointer;
    padding: 5px 10px;
}

.tab-edit-button:hover{
    background-color: #08b2fb;
    border-color: #08b2fb;
    box-shadow: var(--shadow);
}

.tab-edit-button ion-icon{
    color: var(--bg_white);
    vertical-align: bottom;
    font-size: 16px;
}

.profile-tabs ion-icon{
    font-size: 20px;
    vertical-align: bottom;
}

.contract-table{
    width: 50%;
}

.contract-table li{
    display: flex;
    justify-content: space-between;
}

.correspondence-tab{
    display: block;
    width: 99%;
    height: 500px;
    overflow: auto;
}

.correspondence-tab textarea{
    width: 90%;
}

.correspondence-tab img{
    margin: 2px;
    max-width: 300px;
    width: 33%;
    height: fit-content;
    flex: 33%;
    cursor: zoom-in;
    border: 1px solid #9da0a5;
    border-radius: 3px;
    box-shadow: var(--shadow);
}

.correspondence-box{
    padding: 15px 0;
}

.correspondence-box-left, .correspondence-box-right{
    width:45%;
    float: left;
}

.correspondence-box-left h2{
    width: 100%;
}

.correspondence-box-right{
    height: 300px;
    overflow: auto;
    display: flex;
    flex-wrap: wrap;
    box-shadow: var(--shadow);
    background-color: var(--bg_white);
    border: 2px solid #6b6f7642;
    border-radius: 3px;
}


.correspondence-tab .correspondence-box-right .zoom_img{
  height: auto;
  width: fit-content;
  max-width: 100%;
  position: absolute;
  top: 1%;
  left: 0;
  right: 0;
  cursor: zoom-out;
  border: 5px solid var(--bg_offwhite);
  border-radius: 3px;
  padding: 0;
  box-shadow: var(--shadow);
  z-index: 2;
  margin: 0 auto;
}

.correspondence-box-right::-webkit-scrollbar, .correspondence-tab::-webkit-scrollbar{
    width: 6px;
}

.correspondence-box-right::-webkit-scrollbar-track, .correspondence-tab::-webkit-scrollbar-track{
    background-color: #30c3ec54;
    border-radius: 3px;
}

.correspondence-box-right::-webkit-scrollbar-thumb, .correspondence-tab::-webkit-scrollbar-thumb{
    background-color: #30c3ec;
}

.correspondence-box-right::-webkit-scrollbar-thumb:hover, .correspondence-tab::-webkit-scrollbar-thumb:hover{
    background-color: var(--bg_white);
}

.add-correspondence{
    margin: -177px 25px 0 0;
    background-color: var(--hover_color);
    color: var(--bg_white);
    border: 1px solid var(--hover_color);
    font-size: 16px;
    border-radius: 3px;
    transition: var(--transition_time);
    cursor: pointer;
    padding: 5px 10px;
    z-index: 1;
    position: relative;
    top: 20px;
}

.add-correspondence:hover{
    background-color: #08b2fb;
    border-color: #08b2fb;
    box-shadow: var(--shadow);
}

.add-correspondence ion-icon{
    margin-bottom: -2px;
}

/*RESPONSIVE*/
@media(max-width: 768px){
    .tabs-container{
        padding-bottom: 100px;
    }
    .profile-edit{
        margin: 0 20px 0 0;
    }
    .correspondence-tab .correspondence-box-right .zoom_img{
        top: 100vh;
    }
    .correspondence-box-left, .correspondence-box-right, .tab-content-wrapper{
        width: 95%;
    }
    .tab-content-wrapper textarea{
        box-sizing: border-box;
    }
    .profile-tabs{
        width: 97%;
        margin: auto;
        overflow-x: auto;
        white-space: nowrap;
    }
    .tablinks{
        font-size: 18px;
    }
    .profile-tabs::before{
        content: "\276E";
        color: #27bbfb91;
        font-weight: 800;
        font-size: 25px;
        left: 7px;
        position: absolute;
    }
    .profile-tabs::after{
        content: "\276F";
        color: #27bbfb91;
        font-weight: 800;
        font-size: 25px;
        position: absolute;
        right: 7px;
    }
}

@media(max-width: 550px){
    .profile-img{
        float: none;
    }
    .main-container h1{
        padding-left: 0;
    }
    .tabs-container h2{
        padding-top: 30px;
    }
}
/*RESPONSIVE*/

/*FOLIJE EROR
.icon-alert{
    background-color: #cc545d;
    color: #fff;
    padding: 15px 10px;
}

.icon-alert::after{
    border: 15px solid transparent;
    border-top-color: #cc545d;
    content: '';
    margin-left: 5.8em;
    position: absolute;
    top: 89%;
    left: 52%;
    width: 0;
    height: 0;
    transform: rotate(340deg);
}
FOLIJE EROR*/

/*---SAVE SUCCESS DIV---*/

.location-saved, .contact-saved, .contract-saved, .country-saved, .network-saved, .partners-saved, .net-profile-saved{
    padding: 15px;
    background-color: #fff;
    position: fixed;
    top: 50%;
    right: 0;
    left: 0;
    margin: 0 auto;
    width: 100%;
    max-width: 300px;
    height: fit-content;
    border-radius: 3px;
    overflow: auto;
    box-shadow: var(--shadow);
    border: 4px solid var(--hover_color);
    display: none; 
  }

.location-saved h3, .contact-saved h3, .contract-saved h3, .country-saved h3, .network-saved h3, .partners-saved h3, .net-profile-saved h3{
    text-align: center;
    color: var(--hover_color);
    font-weight: 500;
    font-size: 22px;
    letter-spacing: 1px;
    margin: 0;
}

.country-error, .contract-error, .location-error, .partners-error, .network-error, .net-profile-error{
    padding: 15px;
    background-color: #fff;
    position: fixed;
    top: 50%;
    right: 0;
    left: 0;
    margin: 0 auto;
    width: 100%;
    max-width: 300px;
    height: fit-content;
    border-radius: 3px;
    overflow: auto;
    box-shadow: var(--shadow);
    border: 4px solid #ec5830;
    display: none; 
}

.country-error h3, .contract-error h3, .location-error h3, .partners-error h3, .network-error h3, .net-profile-error h3{
    text-align: center;
    color: #ec5830;
    font-weight: 500;
    font-size: 22px;
    letter-spacing: 1px;
    margin: 0;
}
  

/*---SAVE SUCCESS DIV---*/

/*CONTACT UPDATE BUTTONS*/
.contact_update, #button_click_first, #edit_location_save, #save_contact{
    background-color: var(--hover_color);
    color: var(--bg_white);
    border: 1px solid var(--hover_color);
    font-size: 16px;
    border-radius: 3px;
    transition: var(--transition_time);
    cursor: pointer;
    padding: 5px 10px;
    text-decoration: none;
}

.contact_update:hover, #button_click_first:hover, #edit_location_save:hover, #save_contact:hover{
    background-color: #08b2fb;
    border-color: #08b2fb;
    box-shadow: var(--shadow);
}
/*CONTACT UPDATE BUTTONS*/

/* NEW TAB STYLE */
.tablinks{
    padding: 10px 15px;
    font-size: 18px;
    border-right: 2px solid #30c4ec;
    margin-right: -5px;
}

.profile-tabs{
    border-bottom: 4px solid #30c4ec;
    padding-bottom: 0;
}

.tabs-container{
    padding: 0px 25px 30px 25px;
}

.tab-bg, .tablinks, .tablinks:hover{
    border-radius: 10px 15px 0 0;
}
/* NEW TAB STYLE */


/* NEW CORRESPONDENCE STYLE */
.correspondence-box-left{
    display: inline-flex;
    width: 99%;
    gap: 50px;
    align-items: center;
    background: #f6f7fb;
    padding: 15px 10px;
    border: 2px solid #d6dbdc;
    border-left: none;
    border-right: none;
    margin: 2px 0;
}

.correspondence-tab textarea{
    width: auto;
    resize: auto;
    box-sizing: border-box;
    height: 50px;
}

.correspondence-img ion-icon{
    font-size: 30px;
}

.correspondence-titles{
    display: inline-flex;
    gap: 50px;
    padding: 15px 0 25px 0;
}

.correspondence-titles h4, .correspondence-box-left p, .correspondence-box-left textarea{
    width: 150px;
    margin: 0;
}

.correspondence-titles h4{
    font-size: 20px;
}

.correspondence-box-left:nth-child(even){
    background-color: #eaebef;
}

.edit-correspondence{
    font-size: 35px;
    margin-left: auto;
}

.edit-correspondence ion-icon{
    pointer-events: none;
}

.add-correspondence{
    top: 0;
    float: right;
    margin: 0;
}

.corr-img-wrap{
    max-width: 200px;
    max-height: 80px;
    overflow-x: auto;
}

.correspondence-titles h4:nth-child(4){
    width: 300px;
}

.correspondence-box-left textarea{
    min-width: 250px;
    min-height: 80px;
    max-width: 400px;
    max-height: 80px;
    width: 300px;
}

.correspondence-titles h4:nth-child(5){
    width: 200px;
}


.corr-img-wrap::-webkit-scrollbar, .correspondence-box-left textarea::-webkit-scrollbar{
    width: 6px;
}

.corr-img-wrap::-webkit-scrollbar-track, .correspondence-box-left textarea::-webkit-scrollbar-track{
    background-color: #30c3ec54;
    border-radius: 3px;
}

.corr-img-wrap::-webkit-scrollbar-thumb, .correspondence-box-left textarea::-webkit-scrollbar-thumb{
    background-color: #30c3ec;
    border-radius: 3px;
}

.corr-img-wrap::-webkit-scrollbar-thumb:hover, .correspondence-box-left textarea::-webkit-scrollbar-thumb:hover{
    background-color: var(--bg_white);
}

@media (max-width: 1435px){
.profile-tabs {
    width: 97%;
    margin: auto;
    overflow-x: auto;
    white-space: nowrap;
}
.profile-tabs::after {
    content: "\276F";
    color: #27bbfb91;
    font-weight: 800;
    font-size: 25px;
    position: absolute;
    right: 7px;
}
.profile-tabs::before {
    content: "\276E";
    color: #27bbfb91;
    font-weight: 800;
    font-size: 25px;
    left: 7px;
    position: absolute;
}
.profile-tabs {
    border-bottom: none;
}
}

@media(max-width: 1299px){
    .profile-tabs::before{
        left: 90px;
    }
}

@media(max-width: 769px){
    .profile-tabs::before{
        left: 10px;
    }
}

.profile-tabs::-webkit-scrollbar{
   height: 12px;
}

.profile-tabs::-webkit-scrollbar-track{
    background-color: #30c3ec54;
    border-radius: 3px;
}

.profile-tabs::-webkit-scrollbar-thumb{
    background-color: #30c3ecc2;
    border-radius: 13px;
}

.profile-tabs::-webkit-scrollbar-thumb:hover{
    background-color: #30c3ec;
}

/* NEW CORRESPONDENCE STYLE */

/* MODAL */
.modal-image-wrap{
    background: #0000003d;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
    display: none;
}

.close-modal{
    position: absolute;
    top: 17%;
    right: 20%;
    font-size: 35px;
    cursor: pointer;
    color: var(--bg_white);
    background-color: var(--hover_color);
    border-radius: 5px;
    transition: var(--transition_time);
    z-index: 3;
}

.close-modal:hover{
    color: #fff;
    background-color: #08b2fb;
}

.modal-image{
    display: block;
    z-index: 2;
    width: 100%;
    max-width: 900px;
    height: 100%;
    max-height: 600px;
    object-fit: contain;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    margin: 0 auto;
    image-rendering: -webkit-optimize-contrast;
    display: none;
    cursor: zoom-in;
}
/* MODAL */


/* CORRESPONDENCE RESPONSIVE */

.correspondence-tab{
    display: inline-flex;
}

@media(max-width: 1299px){
    .correspondence-box-left p{
        display: flex;
        flex-direction: column;
        align-items: self-start;
    }
}

/* CORRESPONDENCE RESPONSIVE */




/* .testtest{
    background-color: #30c4ec0d;
    margin: 15px 0;
    text-align: center;
    color: var(--text_color);
    font-size: 22px;
    float: left;
    width: 100%;
    border: 2px solid #ebebeb;
    border-left: none;
    border-right: none;
    padding: 10px 0;
} */



/* ---------TIMELINE--------- */

.correspondence-tab{
    height: auto;
}

.correspondence-box::after {
    content: '';
    position: relative;
    width: 6px;
    background-color: #30c4ec;
    height: 100%;
    margin-left: 50%;
    margin-right: 50%;
    display: block;
  }

  .correspondence-titles{
      display: none;
  }

  .correspondence-box-left {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
    display: block;
    box-sizing: border-box;
    background-color: transparent;
    border: none;
  }

  .correspondence-box-left::after {
    /* content: ''; */
    position: absolute;
    width: 25px;
    height: 25px;
    right: -19px;
    background-color: white;
    border: 4px solid #52ccf0;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
  }

  .correspondence-box-left:nth-child(odd){
    float: right;
    padding-left: 0;
  }

  .correspondence-box-left:nth-child(even){
      margin-right: 1px;
      background-color: transparent;
      padding-right: 0;
  }

  .correspondence-box-left:nth-child(odd):after{
      left: -14px;
  }

  .correspondence-box-left:nth-child(even) p:first-child{
    background-color: #ec5830;
    padding: 10px 15px 10px 80px;
    color: #fff;
    font-size: 18px;
    margin-right: 0;
    margin-left: auto;
    width: fit-content;
    margin-bottom: -60px;
    display: block;
    border-radius: 3px 0 0 3px;
  }
  
  .correspondence-box-left p:first-child{
    background-color: #ec5830;
    padding: 10px 80px 10px 15px;
    color: #fff;
    font-size: 18px;
    margin-right: auto;
    margin-left: 0;
    width: fit-content;
    margin-bottom: -60px;
    display: block;
    border-radius: 0 3px 3px 0;
  }

  .correspondence-box-left:nth-child(even) textarea{
      margin-right: 0;
      margin-left: auto;
      display: flex;
      width: 100%;
      font-size: 17px;
      font-weight: 500;
      border: none;
      background-color: #e9f2f3;
      color: #066986;
      height: 100%;
      max-height: 130px;
      padding: 15px;
      resize: none;
      border-radius: 3px 0 0 3px;
  }

  textarea::placeholder{
      color: #2c2f32;
  }

  .correspondence-box-left:nth-child(even) p:nth-child(4){
    font-size: 18px;
    margin-right: 0;
    margin-left: auto;
    padding: 10px 15px;
    text-align: right;
    display: block;
    width: auto;
    color: var(--text_color);
    font-weight: 400;
  }

  .correspondence-box-left:nth-child(even) p:nth-child(5){
    font-size: 18px;
    margin-right: 0;
    margin-left: auto;
    text-align: right;
    display: inline-block;
    width: auto;
  }

  .correspondence-box-left:nth-child(even) .corr-img-wrap{
    text-align: right;
    margin-right: 0;
    width: 100%;
    margin-left: auto;
    padding-right: 15px;
    max-width: 400px;
  }

  .correspondence-box-left:nth-child(odd) textarea{
    margin-right: auto;
    margin-left: 0;
    display: flex;
    width: 100%;
    font-size: 17px;
    font-weight: 500;
    border: none;
    background-color: #e9f2f3;
    color: #066986;
    height: 100%;
    max-height: 130px;
    padding: 15px;
    resize: none;
    border-radius: 0 3px 3px 0;
}

.correspondence-box-left:nth-child(odd) p:nth-child(4){
    font-size: 18px;
    margin-right: 0;
    margin-left: auto;
    padding: 10px 15px;
    text-align: left;
    display: inline-block;
    width: auto;
    color: var(--text_color);
    font-weight: 400;
  }

  .correspondence-box-left:nth-child(odd) p:nth-child(5){
    font-size: 18px;
    margin-right: 0;
    margin-left: auto;
    text-align: left;
    display: inline-block;
    width: auto;
  }

  .correspondence-box-left:nth-child(odd) .corr-img-wrap{
    text-align: left;
    margin-right: auto;
    width: 100%;
    margin-left: 0;
    padding-left: 15px;
    max-width: 400px;
  }

  .correspondence-box-left:nth-child(even) ion-icon:nth-child(2){
    display: block;
    font-size: 65px;
    margin-right: 333px;
    /* margin-bottom: -7px; */
    color: #e9f2f3;
    margin-left: auto;
  }

  .correspondence-box-left:nth-child(odd) ion-icon:nth-child(2){
    display: block;
    font-size: 65px;
    margin-left: 333px;
    /* margin-bottom: -7px; */
    color: #e9f2f3;
    margin-right: auto;
  }

  .correspondence-box-left:nth-child(even) ion-icon[name="create"]{
      font-size: 35px;
      color: #bec1c7;
      cursor: pointer;
      transition: var(--transition_time);
      position: absolute;
      top: 0;
      left: 50px;
      display: none;
  }

  .correspondence-box-left:nth-child(odd) ion-icon[name="create"]{
      font-size: 35px;
      color: #bec1c7;
      cursor: pointer;
      transition: var(--transition_time);
      position: absolute;
      top: 0;
      right: 50px;
      display: none;
}

.correspondence-box-left ion-icon[name="create"]:hover{
    color: var(--hover_color);
}

.correspondence-box-left:hover ion-icon[name="create"]{
    display: block;
    transition: var(--transition_time);
}

.correspondence-box-left:nth-child(even) textarea::-webkit-scrollbar{
    height: 12px;
    width: 8px;
 }
 
 .correspondence-box-left:nth-child(even) textarea::-webkit-scrollbar-track{
     background-color: #ec59308e;
     border-radius: 3px;
 }
 
 .correspondence-box-left:nth-child(even) textarea::-webkit-scrollbar-thumb{
     background-color: #fff;
     border-radius: 13px;
 }
 
 .correspondence-box-left:nth-child(even) textarea::-webkit-scrollbar-thumb:hover{
     background-color: #d6f0f7;
 }
 
@media(max-width: 1030px){
    .correspondence-box-left:nth-child(odd) ion-icon:nth-child(2){
        margin-left: 85%;
    }
    .correspondence-box-left:nth-child(odd) ion-icon[name="create"], .correspondence-box-left:nth-child(even) ion-icon[name="create"]{
        top: auto;
        bottom: 25px;
        display: block;
    }
}

@media(max-width: 768px){
    .correspondence-box-left:nth-child(even){
        padding-left: 0;
    }
    .correspondence-box::after{
        margin-left: 0;
    }
    .correspondence-box-left:nth-child(odd){
        float: left;
        padding-right: 0;
    }
    .correspondence-box-left{
        width: 100%;
        margin-top: 15px;
        margin-bottom: 15px;
    }
    .correspondence-box-left textarea{
        max-width: 95%;
    }
    .correspondence-box-left:nth-child(even) textarea{
        margin-left: 0;
    }
    .correspondence-box-left p:first-child, .correspondence-box-left:nth-child(even) p:first-child{
        margin-left: auto;
        margin-right: auto;
    }
    .correspondence-box-left:nth-child(even) ion-icon:nth-child(2), .correspondence-box-left:nth-child(odd) ion-icon:nth-child(2){
        margin-left: 15px;
    }
    .correspondence-box-left:nth-child(even) p:nth-child(4){
        text-align: left;
    }
    .correspondence-box-left:nth-child(even) .corr-img-wrap{
        text-align: left;
        margin-left: 0;
        margin-right: auto;
        padding-left: 15px;
    }
    .correspondence-box-left:nth-child(odd) textarea{
        margin-right: 0;
    }
    .correspondence-box-left:nth-child(even) ion-icon[name="create"]{
        left: auto;
        right: 50px;
    }
    .correspondence-box-left:nth-child(odd) ion-icon[name="create"], .correspondence-box-left:nth-child(even) ion-icon[name="create"]{
        top: 10px;
        bottom: auto;
    }
}

/* ---------TIMELINE--------- */


/* EDIT TIMELINE */

.edit-correspondence-wrap{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2; 
    background-color: #00000021;
    display: none;
}
.edit-correspondence-popup h2{
    text-align: center;
    color: var(--text_color);
    font-weight: 400;
    font-size: 28px;
    letter-spacing: 1px;
}

.edit-correspondence-popup{
    padding: 20px;
    background-color: #fff;
    position: absolute;
    top: 25vh;
    right: 0;
    left: 0;
    margin: 0 auto;
    width: 500px;
    height: auto;
    border-radius: 3px;
    overflow: auto;
}

#correspondence-edit-form span{
    width: 45%;
    display: inline-block;
}

#correspondence-edit-form select, #correspondence-edit-form input, #correspondence-edit-form textarea{
    margin: 5px;
    display: block;
    padding: 10px 12px;
    border: 1px solid #6b6f7642;
    border-radius: 3px;
    transition: .3s;
    display: block;
    max-width: 190px;
    width: 100%;
}

#correspondence-edit-form textarea{
    max-width: 490px;
    box-sizing: border-box;
}

#correspondence-edit-form span:nth-child(3), #correspondence-edit-form span:nth-child(4){
    width: 100%;
}

#correspondence-edit-form select:focus-visible, #correspondence-edit-form input:focus-visible, #correspondence-edit-form textarea:focus-visible{
    outline: 1px solid #4ac6f7;
    border: 1px solid #4ac6f7;
}

.tab-edit-button{
    position: relative;
    display: block;
    margin: 20px 0 5px auto;
}

input[type="file"]::-webkit-file-upload-button{
    background-color: var(--hover_color);
    color: var(--bg_white);
    border: none;
    font-size: 15px;
    padding: 10px;
    border-radius: 3px;
}

#correspondence-edit-form input[type="file"]{
    max-width: 490px;
    box-sizing: border-box;
}

/* EDIT TIMELINE */



/* CONTRACT CSS FIX */
.contract_view_show ion-icon{
    color: var(--hover_color);
    transition: var(--transition_time);
}

.contract_view_show a:hover ion-icon{
    color: #08b2fb;
}

.contract_view_show textarea{
    border: 1px solid #6b6f7642;
    border-radius: 3px;
    transition: .3s;
    resize: none;
    overflow: auto;
}

.contract_view_show textarea:focus-visible{
    outline: 1px solid #4ac6f7;
    border: 1px solid #4ac6f7;
}

.contract_view_show{
    align-items: center;
    padding: 15px 10px;
    width: 99%;
}

.contract_view_show h4:nth-child(7){
    min-width: 250px;
    max-width: 400px;
    width: 300px;
}

.contract_view_show h4:nth-child(6){
    max-width: 100px;
    width: 100%;
}

.contract_view_show h4{
    font-size: 16px;
}

.contract_view_show p{
    font-size: 15px;
    color: var(--text_color);
}

.contract_view_show{
    gap: 20px;
    padding: 5px 10px
}

.contract_view_show p:nth-child(8), .contract_view_show p:nth-child(9){
    font-size: 14px;
    color: #8b8b8b;
}

#tab4 .tab-edit-button{
    position: relative;
    display: block;
    margin-right: 0;
    margin-left: auto;
}



.contract_view_show{
    border-top: 2px solid #d6dbdc;
}
#tab4 .tab-edit-button{
    margin-bottom: 25px;
}

.corr-img-wrap p a{
    font-size: 30px;
}



input[type='file'] {
    color: transparent;
  }

  label[for=file]{
      margin-left: -145px;
  }

/* CONTRACT CSS FIX */


/* ADD NEW CONTACT BUTTON */

.contact_create{
    position: relative;
    margin-right: 0;
    margin-left: auto;
    border-width: 2px;
    float: right;
}

.contact_create ion-icon{
    vertical-align: middle;
}

/* ADD NEW CONTACT BUTTON */


/* DELETE CONTRACTS */

.contract_delete{
    position: relative;
    margin-right: 0;
    margin-left: auto;
    font-size: 16px;
    border-radius: 3px;
    transition: var(--transition_time);
    cursor: pointer;
    padding: 5px 10px;
    text-decoration: none;
    border: 2px solid #b5b7bb;
    background-color: transparent;
    float: right;
    margin-left: 25px;
}

.contract_delete a {
    color: #b5b7bb;
}

.contract_delete:hover{
    background-color: #b5b7bb;
    box-shadow: var(--shadow);
    border-color: #b5b7bb;
}

.contract_delete:hover a{
    color: #fff;
}


.contract_delete_icon{
    display: none;
}

.contract_delete_icon a ion-icon{
    font-size: 25px;
    color: #ec5830;
    cursor: pointer;
    transition: var(--transition_time);
    pointer-events: none;
}

.contract_delete_icon a:hover ion-icon {
    color: var(--hover_color);
}


.contract_delete_wrap{
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.13);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: none;
    z-index: 2;
}

.contract_delete_popup{
    padding: 20px;
    background-color: #fff;
    position: absolute;
    top: 100px;
    right: 0;
    left: 0;
    margin: 0 auto;
    width: 500px;
    height: auto;
    border-radius: 3px;
    text-align: center;
}

.contract_delete_popup ion-icon{
    border-radius: 30%;
    background-color: var(--hover_color);
    font-size: 40px;
    color: var(--bg_white);
    padding: 0;
}

.contract_delete_popup h2{
    text-align: center;
    color: var(--text_color);
    font-weight: 500;
    font-size: 22px;
    letter-spacing: 1px;
    margin-bottom: 30px;
}

.contract_delete_popup h2 span{
    color: #ec5830;
}

.contract_delete_yes, .contract_delete_no{
    border-radius: 3px;
    padding: 10px 15px;
    width: 80px;
    cursor: pointer;
    transition: var(--transition_time);
    font-size: 16px;
    margin: 0 10px;
}

.contract_delete_yes{
    background-color: var(--hover_color);
    border: 2px solid var(--hover_color);
    color: var(--bg_white);
}

.contract_delete_no{
    background-color: transparent;
    border: 2px solid var(--text_color);
    color: var(--text_color);
}

.contract_delete_yes:hover{
    background-color: #08b2fb;
    border-color: #08b2fb;
}

.contract_delete_no:hover{
    background-color: var(--hover_color);
    border-color: var(--hover_color);
    color: var(--bg_white);
}

.contract_delete_pressed{
    background-color: #b5b7bb;
}

.contract_delete_pressed a{
    color: #fff;
}

.contract_delete_popup h2{
    text-transform: none;
    border: none;
    padding-bottom: 0;
}

.corr-img-wrap p a ion-icon{
    pointer-events: none;
}
/* DELETE CONTRACTS */


.add-correspondence a{
    color: #fff;
}

/* ------PARTNER SELECT------ */

#partner-select{
    display: block;
    width: auto;
    margin: 0 auto;
    padding: 10px;
    font-size: 18px;
    text-align: center;
    background-color: var(--hover_color);
    color: var(--bg_white);
    border-color: var(--hover_color);
    border-radius: 3px;
    cursor: pointer;
    transition: var(--transition_time);
}

#partner-select:hover{
    background-color: #08b2fb;
}

#partner-select option{
    background-color: #fff;
    color: var(--hover_color);
}

#partner-select:focus-visible{
    outline-color: var(--hover_color);
}

#tab6 .tab-content-wrapper:not(:nth-of-type(1), :nth-of-type(2)){
    display: none;
}

/* ------PARTNER SELECT------ */


/* CONTRACT SAVE BUTTON */
#profile-edit-form button{
    margin-right: 0;
    margin-left: auto;
}
/* CONTRACT SAVE BUTTON */



/* -----FIXEVI 21.3.----- */

.edit-correspondence-popup, .popup-wrap{
    top: 50%;
    transform: translateY(-50%);
}

/* -----FIXEVI 21.3.----- */